/* Custom Styles >>--->
 * Marshall all custom `.scss` files and partials here 
 * This will provide a single source of truth
 * As well as a pseudo manifest
 *
*/

// App Main
.app-container {
  max-width: 75vw;
}

// Containers
.about-container, .sign-in-container, .sign-up-container {
  margin-top: 25vh;
}

// Dashboard
.dashboard-container {
  margin-top: 20vh;
}